html {
  text-align: center;
  font-family: Helvetica;
}
/*Title and nav bar*/

header {
  background-image: url("../imgs/building.png");
}

h1 {
  font-size: 70px;
  color: white;
}

nav a {
  font-size: 18px;
  color: white;
}

li {
  list-style: none;
  text-decoration: underline;
}

/*Sectione one*/

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}
